# Compiled python modules.
*.pyc

# Byte-compiled
__pycache__/
.cache/

# Poetry, setuptools, PyPI distribution artifacts.
/*.egg-info
.eggs/
build/
dist/
poetry.lock

# Tests
.pytest_cache/

# Type checking
.pytype/

# Other
*.DS_Store

# PyCharm
.idea

# pyenv, virtualenv artifacts.
.python-version

# Virtual environments
venv/
env/
.env

# VSCode settings
.vscode/

# Mypy cache
.mypy_cache/

# Pip metadata
pip-wheel-metadata/
